<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS for version 5.0 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <title>SpringFlings</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
        <div class="container-fluid">
            <a class="navbar-brand website-header ml-3" href="{{ url_for('home') }}">SpringFling<img
                    src="../static/images/flower.png" alt="flower icon" class="icon2"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex ms-auto" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link ml-5" href="/add">Add Place</a>
                </div>
            </div>
            <form id="search-form" class="d-flex ms-auto" action="{{ url_for('search') }}" method="get">
                <input id="search-input" class="form-control me-2 searchbox" type="search" placeholder="Search places"
                    aria-label="Search" name="query">
                <button class="btn btn-search" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>


</body>

</html>